<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>edit your profile &mdash; ligo.at</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='inter.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='profile/default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32.png') }}" />
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='favicon-48.png') }}" />
    <script src="{{ url_for('static', filename='htmx.2.0.7.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='alpine.sort.3.15.0.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='alpine.3.15.0.min.js') }}"></script>
  </head>
  <body>
    <div class="wrapper editor">
      <header>
        <h1>ligo.at</h1>
        <span class="tagline">edit your profile & links</span>
      </header>

      <p>
        <a href="/@{{ handle }}">see profile</a>
        <span>·</span>
        <a href="{{ url_for('auth_logout') }}">logout</a>
      </p>

      <still-building>
        <span class="title">alpha software</span>
        <p>ligo.at it still under development, and schemas keep changing: things might break anytime.</p>
        <p>You can track it's development or contribute <a href="https://tangled.org/@ligo.at/core">source code</a>.</p>
      </still-building>

      <h2>profile</h2>
      {% include "_editor_profile.html" %}

      <noscript>
        JavaScript is needed for a better experience configuring the links.
      </noscript>

      {% include "_editor_links.html" %}

      <footer>
        <p>
          <a href="/">home</a>
        </p>
        {% include "_footerlinks.html" %}
      </footer>
    </div>
    <!-- .wrapper -->
  </body>
</html>
