<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>edit your profile &mdash; atlinks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='inter.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script defer src="{{ url_for('static', filename='alpine.sort.3.15.0.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='alpine.3.15.0.min.js') }}"></script>
  </head>
  <body>
    <div class="wrapper editor" x-data="{ links: {{ links }}, linksChanged: false }">
      <header>
        <h1>atlinks</h1>
        <span class="tagline">edit your profile & links</span>
      </header>

      <p>
        <a href="/@{{ handle }}">see profile</a>
        <span>·</span>
        <a href="/auth/logout">logout</a>
      </p>

      <h2>profile</h2>
      <form action="/editor/profile" method="post">
        <label>
          <span>Display name</span>
          <input type="text" name="displayName" value="{{ profile.0 }}" required />
        </label>
        <label>
          <span>Description</span>
          <input type="text" name="description" value="{{ profile.1 }}" />
        </label>
        {% if profile_from_bluesky %}
        <p>
          <span class="caption">Profile was fetched from Bluesky. On save it will use an independent, atlinks only copy.</span>
        </p>
        {% endif %}
        <label>
          <input type="submit" value="save profile">
        </label>
      </form>
      <!-- /editor/profile -->

      <h2>links</h2>
      <template x-if="linksChanged">
        <p>
          <span class="alert">You have unsaved changes!</span>
        </p>
      </template>
      <noscript>
        JavaScript is needed for a better experience configuring the links.
      </noscript>
      <form action="/editor/links" method="post" @change="linksChanged = true">
        <input type="submit" value="save links" />

        <div x-sort x-sort:config="{ handle: '[x-sort\\:handle]' }">
          <template x-for="(link, index) in links">
            <link-editor-item x-data="{ editing: !link.url }" x-sort:item="link.url">
              <link-editor-header>
                <link-item class="static" :style="'color: ' + link.background">
                  <link-item-title x-text="link.title"></link-item-title>
                  <link-item-detail x-show="link.detail" x-text="link.detail"></link-item-detail>
                </link-item>
                <link-editor-drag-handle x-sort:handle>⠿</link-editor-drag-handle>
              </link-editor-header>
              <div x-show="!editing">
                <link-editor-buttons>
                  <button type="button" @click="editing = true">edit</button>
                  <button type="button" @click="if (confirm('delete?')) links.splice(index, 1)">delete</button>
                </link-editor-buttons>
              </div>
              <div x-show="editing">
                <label>
                  <span>URL</span>
                  <input type="text" name="link-url" x-model="link.url" required />
                </label>
                <label>
                  <span>Title</span>
                  <input type="text" name="link-title" x-model="link.title" required />
                </label>
                <label>
                  <span>Subtitle</span>
                  <input type="text" name="link-detail" x-model="link.detail" />
                </label>
                <label>
                  <span>Background color</span>
                  <input type="color" name="link-background" x-model="link.background" required />
                </label>
                <button type="button" @click="editing = false">ok</button>
              </div>
            </link-editor-item>
          </template>
        </div>

        <label style="display: block; margin-top: 1em;">
          <button type="button" @click="links.push({ background: '#fa0' })">add link</button>
          <span class="caption">
            It will be added to the bottom. You can then drag and drop it to reorder.
          </span>
        </label>

        <input type="submit" value="save links" />
      </form>
      <!-- /editor/links -->
      <footer>
        <a href="/">home</a>
      </footer>
    </div>
    <!-- .wrapper -->
  </body>
</html>
