<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>edit your profile &mdash; ligo.at</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='inter.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32.png') }}" />
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='favicon-48.png') }}" />
    <script defer src="{{ url_for('static', filename='alpine.sort.3.15.0.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='alpine.3.15.0.min.js') }}"></script>
  </head>
  <body>
    <div class="wrapper editor" x-data="{ links: {{ links }}, linksChanged: false }">
      <header>
        <h1>ligo.at</h1>
        <span class="tagline">edit your profile & links</span>
      </header>

      <p>
        <a href="/@{{ handle }}">see profile</a>
        <span>·</span>
        <a href="{{ url_for('auth_logout') }}">logout</a>
      </p>

      <still-building>
        <span class="title">alpha software</span>
        <p>ligo.at it still under development, and schemas keep changing: things might break anytime.</p>
        <p>You can track it's development or contribute <a href="https://tangled.org/@ligo.at/core">source code</a>.</p>
      </still-building>

      <h2>profile</h2>
      <form action="/editor/profile" method="post">
        <label>
          <span>Display name</span>
          <input type="text" name="displayName" value="{{ profile.displayName }}" required />
        </label>
        <label>
          <span>Description</span>
          <input type="text" name="description" value="{{ profile.description }}" />
        </label>
        {% if profile_from_bluesky %}
        <p>
          <span class="faded caption">Profile was fetched from Bluesky. On save it will use an independent, ligo.at only copy.</span>
        </p>
        {% endif %}
        <label>
          <input type="submit" value="save profile">
        </label>
      </form>
      <!-- /editor/profile -->

      <div>
        <h2 style="display: inline-block;">links</h2>
        <template x-if="linksChanged">
          <span class="alert">You have unsaved changes!</span>
        </template>
      </div>

      <noscript>
        JavaScript is needed for a better experience configuring the links.
      </noscript>

      <form action="/editor/links" method="post" @change="linksChanged = true">
        <input type="submit" value="save links" />

        <div x-sort x-sort:config="{ handle: '[x-sort\\:handle]' }">
          <template x-for="(link, index) in links">
            <link-editor-item x-data="{ editing: !link.href }" x-sort:item="link.href">
              <link-editor-header>
                <div class="static link-item" :style="'color: ' + link.backgroundColor">
                  <span class="link-item-title" x-text="link.title"></span>
                  <span class="link-item-detail" x-show="link.subtitle" x-text="link.subtitle"></span>
                </div>
                <link-editor-drag-handle x-sort:handle>⠿</link-editor-drag-handle>
              </link-editor-header>
              <div x-show="!editing">
                <link-editor-buttons>
                  <button type="button" @click="editing = true">edit</button>
                  <button type="button" @click="if (confirm('delete ' + link.title + '?')) links.splice(index, 1)">delete</button>
                </link-editor-buttons>
              </div>
              <div x-show="editing">
                <label>
                  <span>URL</span>
                  <input type="text" name="link-href" x-model="link.href" required />
                </label>
                <label>
                  <span>Title</span>
                  <input type="text" name="link-title" x-model="link.title" required />
                </label>
                <label>
                  <span>Subtitle</span>
                  <input type="text" name="link-subtitle" x-model="link.subtitle" />
                </label>
                <label>
                  <span>Background color</span>
                  <input type="color" name="link-background-color" x-model="link.backgroundColor" required />
                </label>
                <button type="button" @click="editing = false" style="margin-top: 1em;">close</button>
              </div>
            </link-editor-item>
          </template>
        </div>

        <template x-if="links.length === 0">
          <p>
            Nothing here! Add your first link, then the second, then...
            You can always delete and sort them.
          </p>
        </template>

        <button type="button" @click="links.push({ backgroundColor: '#A1D87E' })" style="display: block; margin-top: 1em;">
          add link
        </button>

        <input type="submit" value="save links" />
      </form>
      <!-- /editor/links -->

      <footer>
        <a href="/">home</a>
      </footer>
    </div>
    <!-- .wrapper -->
  </body>
</html>
