<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ligo.at</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='inter.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32.png') }}" />
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='favicon-48.png') }}" />
  </head>
  <body>
    <div class="wrapper home">
      <header>
        <h1>ligo.at</h1>
        <span class="tagline">(noun) connection</span>
      </header>
      <p>
        Get your own links page for all your social profiles. Decentralized thanks to
        <a href="https://atproto.com/">AT Protocol</a>.
      </p>
      <p>
        Coming soon!
      </p>
      <footer>
        Made by <a href="/@nauta.one">@nauta.one</a>
      </footer>
    </div>
  </body>
</html>
