<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>login &mdash; ligo.at</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='worksans.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='profile/default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32.png') }}" />
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='favicon-48.png') }}" />
    <script async type="module" src="{{ url_for('static', filename='actor-typeahead.js') }}"></script>
  </head>
  <body>
    <div class="wrapper login">
      <header>
        <h1>ligo.at</h1>
        <span class="tagline">log in to your account</span>
      </header>
      <form action="{{ url_for('auth_login') }}" method="post">
        <label>
          <span>Handle</span>
          <actor-typeahead host="location" client="ligo.at">
            <input
              type="text"
              name="username"
              placeholder="username.example.com"
              autocapitalize="off"
              spellcheck="false"
              autocomplete="username"
              required
            />
          </actor-typeahead>
        </label>
        <span class="faded caption">
          Use your AT Protocol handle to log in.
        </span>
        <input type="submit" value="continue" />
      </form>

      {% if auth_servers %}
      <div class="authservers">
        <span class="faded caption">If you're unsure you can log in with...</span>
        <form action="{{ url_for('auth_login') }}" method="post">
          {% for server in auth_servers %}
          <button type="submit" name="authserver" value="{{ server.url }}">{{ server.name }}</button>
          {% endfor %}
        </form>
      </div>
      {% endif %}

      <footer>
        <p>
          <a href="/">home</a>
        </p>
        {% include "_footerlinks.html" %}
      </footer>
    </div>
    <!-- .wrapper -->
  </body>
</html>
