<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>login &mdash; atlinks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='inter.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="wrapper login">
      <header>
        <h1>atlinks</h1>
        <span class="tagline">log in to your account</span>
      </header>
      <form action="{{ url_for('auth_login') }}" method="post">
        <label>
          <span>Handle</span>
          <input type="text" name="username" placeholder="username.example.com" required />
        </label>
        <span class="caption">
          Use your AT Protocol handle to log in.
          If you're unsure you can <a href="{{ url_for('oauth.oauth_start', authserver='https://bsky.social') }}">log in with Bluesky</a>.
        </span>
        <input type="submit" value="log in" />
      </form>
      <footer>
        <a href="/">home</a>
      </footer>
    </div>
    <!-- .wrapper -->
  </body>
</html>
