<!doctype html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>{{ profile.0 }}</h1>
                <span class="tagline">{{ profile.1 }}</span>
            </header>
            <ul>
                {% for link in links %}
                <li style="color: {{ link.color }}">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- .wrapper -->
    </body>
</html>
