<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- metadata and open graph -->
    <meta property="og:type" content="profile" />
    <title>Links for {{ profile.displayName }}</title>
    <meta property="og:title" content="{{ profile.displayName }}" />
    {% if profile.description %}
    <meta name="description" content="{{ profile.description }}" />
    <meta property="og:description" content="{{ profile.description }}" />
    {% endif %}
    <meta property="og:image" content="https://{{ request.host }}{{ url_for('static', filename='favicon-48.png') }}" />
    {% if profile.handle %}
    <link rel="canonical" href="https://{{ request.url }}/@{{ profile.handle }}" />
    <meta property="og:url" content="https://{{ request.url }}/@{{ profile.handle }}" />
    <meta property="profile:username" content="{{ profile.handle }}" />
    {% endif %}
    {% if athref %}<link rel="alternate" href="{{ athref }}" />{% endif %}
    <!-- styles and favicons -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base target="_blank" />
    <link rel="stylesheet" href="{{ url_for('static', filename='inter.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='profile/default.css') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32.png') }}" />
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='favicon-48.png') }}" />
  </head>
  <body>
    <div class="wrapper profile">
      <header class="links-header">
        <h1>{{ profile.displayName }}</h1>
        {% if profile.description %}
        <span class="tagline">{{ profile.description }}</span>
        {% endif %}
      </header>
      <div class="links-container">
        {% for section in sections %}
        <ul class="link-section">
          {% for link in section.links %}
          <li style="color: {{ link.backgroundColor }}">
            <a href="{{ link.href }}">
              <div class="link-item">
                <span class="link-item-title">{{ link.title }}</span>
                {% if link.subtitle %}
                <span class="link-item-detail">{{ link.subtitle }}</span>
                {% endif %}
              </div><!-- .link-item -->
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <footer>
        made with <a href="https://ligo.at" target="_self">ligo.at</a>
      </footer>
    </div>
    <!-- .wrapper -->
  </body>
</html>
