example.com {
    handle_path /static/* {
        # change this to where you have the code
        root * /var/www/ligoat/src/static
        file_sever
    }

    handle {
        # change this to the port you use
        reverse_proxy :8080
    }
}
