:root {
    --color-background: #fff;
    --color-text: #333;
    --color-text-secondary: #aaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #111;
        --color-text: #fff;
    }
}

html {
    font-feature-settings:
        "kern" 1,
        "liga" 1,
        "cv05" 1,
        "tnum" 1;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-size: 18px;
    line-height: 20px;
    font-family: "Inter", system-ui, sans-serif, ui-sans-serif;
    font-variation-settings: normal;
    font-weight: 400;
    font-optical-sizing: auto;
    margin: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

.wrapper {
    margin: auto;
    max-width: 25rem;
}

header {
    margin: 2.5em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: inherit;
}

header .tagline {
    font-style: italic;
    display: inline-block;
    margin-top: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: currentColor;
    transition: transform 0.1s;
    text-align: center;
    box-shadow: -3px 3px 0 rgba(from currentColor r g b / 0.6);
}

li .detail {
    display: block;
    font-size: 0.75em;
    opacity: 0.6;
    transition: opacity 0.3s;
}

li:hover {
    transform: scale(1.05);

    & .detail {
        opacity: 1;
    }
}

li + li {
    margin-top: 1rem;
}

li a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

footer {
    color: var(--color-text-secondary);
    font-size: 14px;
    margin-top: 5em;
    text-align: center;
}
